# Dependencies
node_modules/

# Production build
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/

image.png

ISTVON UPDATED v2.4 - 6 Jan 26.xlsx

# Docker production env
.env.production